.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 77.5rem;
  margin: 0 auto;
}

.cart {
  flex: 1;
  padding-right: 2rem
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid var(--black);
  border-bottom: 1px solid var(--black);
  text-align: center;
}

.table thead {
  border-bottom: 1px solid var(--border-gray);
}

.table th {
  padding: 2rem 0;
}

.table tbody td {
  padding: 0.5rem 0;
}

.table tbody tr + tr {
  border-top: 1px solid var(--border-light-gray);
}

.table tbody tr:first-child td {
  padding-top: 3rem;
}

.table tbody tr:last-child td {
  padding-bottom: 3rem;
}