.info {
  padding: 1rem;
}

.image {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 125%;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.desc {
  color: var(--gray)
}

.price {
  margin-top: 0.5rem;
}