.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
}

.nav ul {
  display: flex;
  font-size: 1.2rem;
}

.nav a {
  margin: 0.2rem;
  padding: 0.4rem;
}

.userBox {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.userBox li {
  margin: 0.2rem;
  padding: 0.4rem;
}

.cart {
  font-size: 1.6rem;
}

.userBox button {
  background-color: transparent;
}