.header {
  flex: 0;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
}

.logo, .userBox {
  flex-basis: 30%;
}

.nav {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  font-size: 1.2rem;
}

.nav a {
  position: relative;
  margin: 0.2rem;
  padding: 0.4rem;
  font-weight: bold;
}

.nav a.active,
.nav a:hover,
.userBox a.active,
.userBox a:hover,
.userBox button:hover {
  color: var(--brand-color);
}

.nav a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--brand-color);
  transition: all 0.5s;
}

.nav a:hover:after,
.nav a.active:after {
  width: 100%;
}

.userBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.userBox li {
  margin: 0.2rem;
  padding: 0.4rem;
}

.userBox li a {
  font-weight: bold;
}

.cart {
  font-size: 1.6rem;
}

.cartIcon {
  position: relative;
}

.count {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  padding: 0.2rem 0.5rem;
  background-color: var(--brand-color);
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--white);
}

.userBox button {
  background-color: transparent;
  font-weight: bold;
}