:root {
  --brand-color: #575fcf;
  --active-color: #0fbcf9;
  --success-color: #0be881;
  --error-color: #ff3f34;
  --gray: #808e9b;
  --light-gray: #f2f2f2;
  --black: #000;
  --white: #fff;
  --smoke-white: #f8f8f8;
  --red: #ff0000;
  --border-gray: #ababab;
  --border-light-gray: #f2f2f2;
  --text-default: #000;
  --text-light: #333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  accent-color: var(--brand-color);
}

* {
  box-sizing: border-box;
  letter-spacing: 0.02rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, div, ul, p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray);
  outline: none;
}

input:focus-visible {
  border-color: var(--active-color);
}

button {
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
  cursor: pointer;
  border: 0;
  outline: none;
}

.pageTitle {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}